header {
  background: #353535;
}

#added-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-menu {
  display: flex;
  padding-left: 25px;
  flex-direction: column;
}

.main-list {
  display: flex;
  justify-content: center;
}

.main-list span {
  font-size: 20px;
}

.delete-btn {
  display: flex;
  justify-content: center;
}

.product-cart {
  padding: 10px;
  border: 1px solid;
  margin: 10px;
  background: #f4f4f4;
  //box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
}

.img-container > button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
  margin: 15px 5px 15px;
}

.img-container div {
  display: flex;
  justify-content: center;
}


.internet-shop h2 {
  color: #f5f5f7;
}

.title {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

.main-list {
  padding-bottom: 15px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.images {
  display: flex;
  flex-direction: column;
}

img {
  display: none;
  width: 100px;
  height: 150px;
  padding: 10px;

  &.active {
    display: block;
  }
}


#add-image {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
}

#delete-product {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
  margin: 15px 0 15px;
}

.new-product-name > input {
  margin-right: 107px;
}

.images > input {
  padding-left: 5px;
}

.add-product-input {
  padding-left: 5px;
}

.add-price-input {
  padding-left: 5px;
}

#back_ {
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
  margin-bottom: 15px;
}

#forward_ {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
  margin-bottom: 15px;
}

input {
  margin-bottom: 15px;
  border-radius: 3px;
  border: solid 0.5px;
}

.item-count {
  margin-left: 10px;
  margin-right: 10px;
}

.img-container {
  margin-top: 25px;
  margin-bottom: 10px;
}

span {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.special-link {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.addNewBtn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  border-radius: 3px;
  background: #0071e3;
  color: #fff;
}